<div class="wrapper">
    <app-navbar></app-navbar>
    <app-super-admin-sidebar></app-super-admin-sidebar>
    <div class="content-wrapper">
        <app-breadcrumb [title]="'ADMINS'"></app-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <h3 class="card-title custom-title">{{ 'ADMINS' | translate}}</h3>
                                <div class="col-7 card-tools text-right">
                                    <button type="button" class="btn btn-primary" (click)="showAddFeatureView(true)" *ngIf="showAddFeature === false">
                                        <i class="fa fa-plus"></i> {{ 'ADD_FACULTIES' | translate}}
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === false && adminDataStatus != 2">
                                <div class="col-lg-12" *ngIf="adminDataStatus === 1">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ 'NAME' | translate}}</th>
                                                <th>{{ 'EMAIL_ADDRESS' | translate}}</th>
                                                <th>{{ 'STATUS' | translate}}</th>
                                            </tr>
                                            <tr *ngFor="let admin of admins;let i = index">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{ admin.name | verifyData }}
                                                </td>
                                                <td>
                                                    {{ admin.email | verifyData }}
                                                </td>
                                                <td>
                                                    <span *ngIf="admin.status === constants.STATUS_ACTIVE">
                                                        {{ 'ACTIVE' | translate }}
                                                    </span>
                                                    <span *ngIf="admin.status === constants.STATUS_INACTIVE">
                                                        {{ 'INACTIVE' | translate }}
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12" *ngIf="adminDataStatus === 0 || adminDataStatus === 3">
                                    <app-list-error-handler 
                                    [status]=adminDataStatus 
                                    [title]="'ADMINS'">
                                    </app-list-error-handler>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === true">
                                <div class="col-lg-12">
                                    <form role="form" (ngSubmit)="addAdmin()" [formGroup]="addAdminForm">
                                        <div class="form-group m-b-0">
                                            <label for="name">{{ 'ADMIN_NAME' | translate}} *</label>
                                            <input type="text" class="form-control" id="name" formControlName="name" placeholder="{{ 'ENTER_NAME' | translate}}" required>
                                        </div>
                                        <app-form-validator [data]="name" [validateNameMinLength]=true></app-form-validator>
                                        <div class="form-group m-b-0">
                                            <label for="email">{{ 'EMAIL_ADDRESS' | translate }} *</label>
                                            <input type="email" class="form-control" name="email" formControlName="email" autocomplete="off" id="email" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" required>
                                        </div>
                                        <app-form-validator [data]="email" [validateEmail]=true></app-form-validator>
                                        <div class="form-group m-b-0">
                                            <label for="password">{{ 'PASSWORD' | translate }} *</label>
                                            <input type="password" class="form-control" name="password" formControlName="password" autocomplete="off" id="password" placeholder="{{ 'PASSWORD' | translate }}" required>
                                        </div>
                                        <app-form-validator [data]="password" [validatePasswordLength]=true></app-form-validator>
                                        <div class="form-group m-b-0">
                                            <label>{{ 'INSTITUTE_NAME' | translate}} *</label>
                                            <select class="custom-select" id="inst_id" formControlName="inst_id" *ngIf="instituteDataStatus === 1" required>
                                                <option [value]=null selected disabled>{{ 'SELECT_INSTITUTE' | translate}}</option>
                                                <option *ngFor="let institute of institutes" [ngValue]="institute.id">
                                                    {{institute.name}}
                                                </option>
                                            </select>
                                            <div class="error-message" *ngIf="instituteDataStatus === 0">
                                                {{ 'PLEASE_ADD_INSTITUTES_TO_CONTINUE' | translate }}<br/>
                                            </div>
                                            <div class="error-message" *ngIf="instituteDataStatus === 3">
                                                {{ 'STANDARD_ERROR' | translate}}
                                            </div>
                                        </div>
                                        <app-form-validator [data]="inst_id"></app-form-validator>
                                        <button type="submit" class="btn btn-primary" [disabled]="disableAddFeatureForm()">
                                            <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate}}
                                        </button>
                                        <button class="btn btn-danger ml-2" (click)="showAddFeatureView(false)">
                                            <i class="fa fa-reply"></i> {{ 'BACK' | translate}}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>