<section class="content">
    <div class="text-center no-data-container">
        <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;">
            <span class="swal2-x-mark">
                <span class="swal2-x-mark-line-left"></span>
                <span class="swal2-x-mark-line-right"></span>
            </span>
        </div>
        <div class="message" *ngIf="errorCode === 0"> 
           <span *ngIf="errorId === 0">No subjects found for this semester.</span> 
           <span *ngIf="errorId === 1">No chapters found for this subject.</span>
           <span *ngIf="errorId === 2">No examination details found for this subject.</span>
           <span *ngIf="errorId === 3">No wishlists found.</span>
           <span *ngIf="errorId === 4">No topics found for this chapter.</span>
           <span *ngIf="errorId === 5">No search results found.</span>
           <span *ngIf="errorId === 6">Subject details not found</span>
        </div>
        <div class="message" *ngIf="errorCode === 3"> 
            <span>Something went wrong.<br/> Please contact your school.</span> 
        </div>
    </div>
</section>