<div class="w-100 basic-form">
    <div class="col-lg-8 m-auto align-center">
        <div class="card mb-0 bg-theme-light">
            <div class="col-lg-12 row m-0 p-0">
                <div class="col-lg-6 p-4 pb-5 bg-white login-form">
                    <p class="text-center mb-2">
                        <img class="app-logo" src="assets/images/form_logo.png">
                    </p>
                    <h2 class="text-center pb-4">{{ 'WELCOME_TITLE' | translate }}</h2>
                    <form (ngSubmit)="doLogin()" [formGroup]="loginForm" class="mt-5">
                        <div class="form-group mb-0">
                            <label for="email">{{ (loginType === 'student') ? ('USN' | translate) : ('EMAIL_ADDRESS' | translate) }} *</label>
                            <input type="email" class="form-control br-basic-form" formControlName="email" 
                            placeholder="{{ (loginType === 'student') ? ('ENTER_USN' | translate) : ('EMAIL_ADDRESS' | translate) }}" required>
                        </div>
                        <app-form-validator [data]="validateLoginForm('email')" [validateEmail]=true></app-form-validator>
                        <div class="form-group mb-0 mt-1">
                            <label for="password">{{ 'PASSWORD' | translate }} *</label>
                            <div class="input-group">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-control br-basic-form" 
                                formControlName="password" placeholder="{{ 'PASSWORD' | translate }}" required>
                                <div class="input-group-append" (click)="togglePassword()">
                                    <div class="input-group-text br-basic-form bg-white cursor-ponter" type="button">
                                        <i *ngIf="showPassword" class="fa fa-eye-slash"></i>
                                        <i *ngIf="!showPassword" class="fa fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-form-validator [data]="validateLoginForm('password')" [validatePasswordLength]=true></app-form-validator>
                        <div class="row mt-1">
                            <div class="col-lg-12">
                                <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary btn-block br-basic-form">{{ 'SIGNIN' | translate }}</button>
                            </div>
                        </div>
                        <p class="mt-1">
                            <a  *ngIf="loginType === 'student'" href="#" data-toggle="modal" data-target="#myModal">{{ 'FORGOT_PASSWORD_LINK' | translate }}</a>
                            <a  *ngIf="loginType !== 'student'" href="#/school/login" >{{ 'FORGOT_PASSWORD_LINK' | translate }}</a>
                        </p>
                    </form>
                </div>
                <div class="col-lg-6 basic-form-image p-2 mt-3">
                    <div class="app-message m-auto text-center">
                        {{ 'APP_MESSAGE' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
            <form role="form" (ngSubmit)="forgotPassword()" [formGroup]="forgotPasswordForm" id="forgotPasswordForm">
                <div class="form-group mb-0">
                    <label for="email">{{ 'EMAIL_ADDRESS' | translate }} *</label>
                    <input type="email" class="form-control br-basic-form" name="email" 
                    formControlName="email" [email]="true" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" required>
                </div>
                <app-form-validator [data]="validateForgotPasswordFormValue('email')" [validateEmail]=true></app-form-validator> 
                <div class="form-group mb-0 mt-1">
                    <label for="uan">{{ 'UAN' | translate }} *</label>
                    <input type="text" class="form-control br-basic-form" name="uan" 
                    formControlName="usn"  placeholder="{{ 'USN' | translate }}" required>
                </div>
                <app-form-validator [data]="validateForgotPasswordFormValue('usn')" [validateUsn]=true></app-form-validator>

                <button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-theme-primary">
                   {{ 'Send' | translate }}
                </button>
                </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      
    </div>
  </div>
