<div class="w-100 basic-form">
    <div class="col-lg-8 m-auto align-center">
        <div class="card mb-0">
            <div class="col-lg-12 row m-0 p-0">
                <p class="text-center mb-2 col-lg-12">
                    <img class="app-logo" src="assets/images/form_logo.png">
                </p>
                <form (ngSubmit)="updateProfile()" [formGroup]="createProfileForm" class="mt-1 row col-lg-12" id="createProfileForm">
                    <div class="col-lg-6 p-4 bg-white create-profile-form">
                        <div class="form-group mb-0">
                            <label for="name">{{ 'NAME' | translate }} *</label>
                            <input type="text" class="form-control br-basic-form" id="name" formControlName="name" placeholder="{{ 'ENTER_NAME' | translate }}" required>
                        </div>
                        <app-form-validator [data]="validateCreateProfileForm('name')" [validateNameMinLength]=true></app-form-validator>
                        <div class="form-group mb-0">
                            <label for="password">{{ 'PASSWORD' | translate }} *</label>
                            <div class="input-group">
                                <input [type]="showPassword ? 'text' : 'password'" class="form-control" class="form-control br-basic-form" name="password" formControlName="password" autocomplete="off" id="password" placeholder="{{ 'PASSWORD' | translate }}" required>
                                <div class="input-group-append" (click)="togglePassword()">
                                    <div class="input-group-text br-basic-form bg-white cursor-ponter" type="button">
                                        <i *ngIf="showPassword" class="fa fa-eye-slash"></i>
                                        <i *ngIf="!showPassword" class="fa fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-form-validator [data]="validateCreateProfileForm('password')" [validatePasswordLength]=true></app-form-validator>
                        <div class="form-group mb-0">
                            <label>{{ 'SEMESTER' | translate }} *</label>
                            <select class="custom-select br-basic-form" id="semesterId" formControlName="semesterId" [hidden]="semestersDataStatus != 1" required>
                                <option [value]=null selected disabled>{{ 'SELECT_SEMESTER' | translate }}</option>
                                <option *ngFor="let semester of semesters" [ngValue]="semester.id">
                                    {{ 'SEMESTER' | translate }} {{ semester.name }}
                                </option>
                            </select>
                            <div class="error-message" *ngIf="semestersDataStatus === 0">
                                {{ 'NO_SEMESTER_FOUND_STUDENT' | translate }}
                            </div>
                            <div class="error-message" *ngIf="semestersDataStatus === 3">
                                {{ 'STANDARD_ERROR' | translate}}
                            </div>
                        </div>
                        <app-form-validator [data]="validateCreateProfileForm('semesterId')"></app-form-validator>
                        <div class="form-group">
                            <label for="customFile">{{ 'PROFILE_PICTURE' | translate }}</label>
                            <div>
                                <input type="file" (change)="onFileChange($event,'profile_pic')"
                                accept="image/*">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-4">
                        <div class="form-group mb-0">
                            <label for="email">{{ 'EMAIL_ADDRESS' | translate }} *</label>
                            <input type="email" class="form-control br-basic-form" name="email" formControlName="email" autocomplete="off" id="email" 
                            placeholder="{{ 'EMAIL_ADDRESS' | translate }}" required>
                        </div>
                        <app-form-validator [data]="validateCreateProfileForm('email')" [validateEmail]=true></app-form-validator>
                        <div class="form-group mb-0">
                            <label for="name">{{ 'PHONE_NUMBER' | translate }} *</label>
                            <input type="number" class="form-control br-basic-form" id="phone_number" formControlName="phone_number" placeholder="{{ 'PHONE_NUMBER' | translate }}" required>
                        </div>
                        <app-form-validator [data]="validateCreateProfileForm('phone_number')"></app-form-validator>
                        <div class="form-group mb-0">
                            <label for="name">{{ 'OTP' | translate }} *</label>
                            <input type="number" class="form-control br-basic-form" id="otp" formControlName="otp" placeholder="{{ 'ENTER_OTP' | translate }}" required>
                        </div>
                        <app-form-validator [data]="validateCreateProfileForm('otp')"></app-form-validator>
                    </div>
                    <div class="col-lg-4 m-auto pb-3">
                        <button type="submit" [disabled]="!createProfileForm.valid" class="btn btn-primary btn-block br-basic-form">{{ 'CREATE' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
