<div class="wrapper">
    <app-navbar></app-navbar>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-wrapper" *ngIf="filterDataStatus === 1">
        <app-breadcrumb [title]="'FACULTIES'"></app-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="col-12 row">
                                    <form class="col-5" role="form" [formGroup]="filterForm">
                                        <select class="custom-select form-control select2" id="department_id" formControlName="department_id" required
                                        (change)="getFaculties()">
                                            <option [value]=null selected disabled>{{ 'SELECT_DEPARTMENT' | translate}}</option>
                                            <option *ngFor="let department of departments" [ngValue]="department.id">
                                                {{ department.name }}
                                            </option>
                                        </select>
                                    </form>
                                    <div class="col-7 card-tools text-right">
                                        <button type="button" class="btn btn-theme-primary" (click)="showAddFeatureView(true)" *ngIf="showAddFeature === false">
                                            <i class="fa fa-plus"></i> {{ 'ADD_FACULTIES' | translate}}
                                        </button>
                                        <button type="button" class="btn btn-theme-primary" (click)="downloadService.download('public/storage/faculties.csv')" *ngIf="showAddFeature === true">
                                            <i class="fa fa-download"></i>&nbsp;{{ 'DOWNLOAD_EXCEL_TEMPLATE' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === false && facultiesDataStatus != 2">
                                <div class="col-lg-12" *ngIf="facultiesDataStatus === 1">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ 'NAME' | translate}}</th>
                                                <th>{{ 'EMAIL_ADDRESS' | translate}}</th>
                                                <th>{{ 'PHONE_NUMBER' | translate}}</th>
                                                <th></th>
                                            </tr>
                                            <tr *ngFor="let faculty of faculties;let i = index">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{ faculty.name | verifyData }}
                                                </td>
                                                <td>
                                                    {{ faculty.email | verifyData }}
                                                </td>
                                                <td>
                                                    {{ faculty.phone_number | verifyData}}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteFaculty(faculty)">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>        
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <app-admin-list-error [errorId]=2 [errorCode]="facultiesDataStatus" *ngIf="facultiesDataStatus === 0 || facultiesDataStatus === 3">
                                </app-admin-list-error>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === true">
                                <div class="col-lg-12">
                                    <form role="form" (ngSubmit)="addFaculties()" [formGroup]="addDataForm">
                                        <div class="form-group">
                                            <label for="customFile">{{ 'File' | translate}}</label>
                                            <div>
                                                <input type="file" id="facultiesFile" formControlName="facultiesFile" (change)="onFileChange($event,'facultiesFile')" required
                                                accept=".csv">
                                            </div>
                                        </div>
                                        <app-form-validator [data]="validateAddFormValue('facultiesFile')"></app-form-validator>
                                        <button type="submit" class="btn btn-theme-primary" [disabled]="disableAddFeatureForm()">
                                            <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate}}
                                        </button>
                                        <button class="btn btn-danger ml-2" (click)="showAddFeatureView(false)">
                                            <i class="fa fa-reply"></i> {{ 'BACK' | translate}}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="content-wrapper" *ngIf="filterDataStatus === 0 || filterDataStatus === 3">
        <app-admin-list-error [errorId]=1 [errorCode]="filterDataStatus">
        </app-admin-list-error>
    </div>
    <app-footer></app-footer>
</div>