<div class="wrapper">
    <app-navbar></app-navbar>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-wrapper" *ngIf="departmentAndSectionDataStatus === 1">
        <app-breadcrumb [title]="'FACULTIES'"
        [showButton]=true
        [buttonText]="'ADD_FACULTIES'"
        (buttonClickedEvent)="showAddFeatureView(true)"
        [addFeatureEnabled]=showAddFeature></app-breadcrumb>
      	<section class="content">
        	<div class="container-fluid row">
                <div class="col-lg-12 mb-2">
                    <form role="form" [formGroup]="facultiesFilterForm">
                        <div class="row">
                            <div class="col-md-5 col-5">
                                <select class="custom-select form-control select2" id="department_id" formControlName="department_id" required
                                (change)="getFacultiesData()">
                                    <option [value]=null selected disabled>{{ 'SELECT_DEPARTMENT' | translate}}</option>
                                    <option *ngFor="let department of departments" [ngValue]="department.id">
                                        {{department.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-5 col-5">
                                <select class="custom-select form-control select2" id="inst_class_id" formControlName="inst_class_id" required
                                (change)="getFacultiesData()">
                                    <option [value]=null selected disabled>{{ 'SELECT_SEMISTER' | translate}}</option>
                                    <option *ngFor="let section of sections" [ngValue]="section.id">
                                        {{section.name}}
                                    </option>
                                </select>
                            </div> 
                        </div>
                    </form>
                </div>
                <div class="col-lg-12" *ngIf="showAddFeature === false" [@slideInOut]>
                    <div class="card card-primary card-outline" *ngIf="facultiesDataStatus === 1">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'FACULTIES' | translate}}</h3>
                        </div>
                        <div class="card-body p-t-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{{ 'NAME' | translate}}</th>
                                        <th>{{ 'EMAIL_ADDRESS' | translate}}</th>
                                        <th>{{ 'PHONE_NUMBER' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let faculty of faculties;let i = index">
                                        <td>
                                            {{ i + 1 }}
                                        </td>
                                        <td>
                                            {{ faculty.name | verifyData }}
                                        </td>
                                        <td>
                                            {{ faculty.email | verifyData }}
                                        </td>
                                        <td>
                                            {{ faculty.phone_number | verifyData}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12" *ngIf="facultiesDataStatus === 0 || facultiesDataStatus === 3">
                        <app-list-error-handler 
                        [status]=facultiesDataStatus 
                        [title]="'FACULTIES'">
                        </app-list-error-handler>
                    </div>
                </div>
                <div class="col-lg-12" *ngIf="showAddFeature === true">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'ADD_FACULTIES' | translate}}</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool f-18px" (click)="downloadFile()">
                                    <i class="fa fa-download"></i>&nbsp;{{ 'DOWNLOAD_EXCEL_TEMPLATE' | translate}}
                                </button>
                                <button type="button" class="btn btn-tool" (click)="showAddFeatureView(false)">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <form role="form" (ngSubmit)="addFaculties()" [formGroup]="addFacultiesForm">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="customFile">{{ 'File' | translate}}</label>
                                    <div>
                                        <input type="file" id="faculties_file" formControlName="faculties_file" (change)="onFileChange($event)">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary" [disabled]="disableAddFeatureForm()">
                                    <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate}}
                                </button>
                                <button class="btn btn-danger ml-2" (click)="showAddFeatureView(false)">
                                    <i class="fa fa-reply"></i> {{ 'BACK' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
      	</section>
    </div>
    <app-footer></app-footer>
</div>