<div class="wrapper">
    <app-student-navbar (semesterChanged)="onSemesterSelection($event)"></app-student-navbar>
    <app-student-sidebar></app-student-sidebar>
    <div class="content-wrapper">
        <app-breadcrumb [title]="(featureType === 1)?'HOME':'EXAMINATION'"></app-breadcrumb>
      	<section class="content">
          	<div class="col-md-12">
				<section class="row" *ngIf="subjectsDataStatus === 1">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-1" *ngFor="let subject of subjects">
                        <div class="card card-widget mb-3 custom-card" (click)="onSubjectSelection(subject)">
                            <div class="card-body p-2">
                                <div class="img-container">
                                    <img class="img-fluid br-4" [src]='_constants.DOMAIN_URL + subject.bg_image' 
                                    (error)="_miscellaneous.setDefaultThumbnailImage($event)">
                                </div>
                                <div class="card-header-portion">
                                    {{ subject.code }}
                                    <button class="btn btn-theme-primary float-right btn-sm"
                                    (click)="_download.download(subject.syllabus, $event)" *ngIf="subject.syllabus">
                                        <i class="pr-1 fa fa-download"></i> {{ 'SYLLABUS' | translate }}
                                    </button>
                                </div>
                                <div class="card-header-title">
                                    {{ subject.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <app-student-list-error [errorId]=0 [errorCode]="subjectsDataStatus" *ngIf="subjectsDataStatus === 0 || subjectsDataStatus === 3">
                </app-student-list-error>
          	</div>
        </section>
        <app-student-recent-videos *ngIf="featureType === 1"></app-student-recent-videos>
    </div>
    <app-footer></app-footer>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Verify Your Account</h4>
        </div>
        <div class="modal-body">
            <form role="form" (ngSubmit)="verifyAccount()" [formGroup]="verifyForm" id="verifyForm">
                <div class="form-group mb-0">
                    <label for="email">{{ 'EMAIL_ADDRESS' | translate }} *</label>
                    <input type="email" class="form-control" name="email" 
                    formControlName="email" [email]="true" placeholder="{{ 'EMAIL_ADDRESS' | translate }}" required>
                </div>
                <app-form-validator [data]="validateVerifyFormValue('email')" [validateEmail]=true></app-form-validator> 
               
                <button type="submit"  [disabled]="!verifyForm.valid" class="btn btn-theme-primary">
                   {{ 'Verify' | translate }}
                </button>
                </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      
    </div>
  </div>
