<div class="wrapper">
    <app-navbar></app-navbar>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-wrapper" *ngIf="departmentAndSemesterDataStatus === 1">
        <app-breadcrumb [title]="'STUDENTS'"></app-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="col-12 row">
                                    <form class="col-8 row" role="form" [formGroup]="filterForm">
                                        <div class="col-6">
                                            <select class="custom-select form-control select2" id="department_id" formControlName="department_id" required
                                            (change)="getStudentsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_DEPARTMENT' | translate}}</option>
                                                <option *ngFor="let department of departments" [ngValue]="department.id">
                                                    {{ department.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="custom-select form-control select2" id="inst_class_id" formControlName="inst_class_id" required
                                            (change)="getStudentsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_SEMESTER' | translate}}</option>
                                                <option *ngFor="let semester of semesters" [ngValue]="semester.id">
                                                    {{ 'SEMESTER' | translate }} {{semester.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="col-4 card-tools text-right">
                                        <button type="button" class="btn btn-theme-primary" (click)="showAddFeatureView(true)" *ngIf="showAddFeature === false">
                                            <i class="fa fa-plus"></i> {{ 'ADD_STUDENTS' | translate}}
                                        </button>
                                        <button type="button" class="btn btn-theme-primary" (click)="downloadService.download('public/storage/student.csv')" *ngIf="showAddFeature === true">
                                            <i class="fa fa-download"></i>&nbsp;{{ 'DOWNLOAD_EXCEL_TEMPLATE' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === false && studentsDataStatus != 2">
                                <div class="col-lg-12" *ngIf="studentsDataStatus === 1">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ 'NAME' | translate}}</th>
                                                <th>{{ 'USN_NUMBER' | translate}}</th>
                                                <th>{{ 'EMAIL_ADDRESS' | translate}}</th>
                                                <th>{{ 'PHONE_NUMBER' | translate}}</th>
                                            </tr>
                                            <tr *ngFor="let student of students;let i = index">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{ student.usn | verifyData }}
                                                </td>
                                                <td>
                                                    {{ student.name | verifyData }}
                                                </td>
                                                <td>
                                                    {{ student.email | verifyData }}
                                                </td>
                                                <td>
                                                    {{ student.phone_number | verifyData }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12" *ngIf="studentsDataStatus === 0 || studentsDataStatus === 3">
                                    <app-list-error-handler 
                                    [status]=studentsDataStatus 
                                    [title]="'STUDENTS'">
                                    </app-list-error-handler>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === true">
                                <div class="col-lg-12">
                                    <form role="form" (ngSubmit)="addStudents()" [formGroup]="addStudentsForm">
                                        <div class="form-group">
                                            <label for="customFile">{{ 'FILE' | translate}}</label>
                                            <div>
                                                <input type="file" id="students_file" formControlName="students_file" (change)="onFileChange($event)">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-theme-primary" [disabled]="disableAddFeatureForm()">
                                            <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate}}
                                        </button>
                                        <button class="btn btn-danger ml-2" (click)="showAddFeatureView(false)">
                                            <i class="fa fa-reply"></i> {{ 'BACK' | translate}}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>