<div class="wrapper">
    <app-navbar></app-navbar>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-wrapper" *ngIf="departmentAndSectionDataStatus === 1">
        <app-breadcrumb [title]="'SUBJECTS'"></app-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="col-12 row">
                                    <form class="col-8 row" role="form" [formGroup]="filterForm">
                                        <div class="col-6">
                                            <select class="custom-select form-control select2" id="department_id" formControlName="department_id" required
                                            (change)="getSubjectsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_DEPARTMENT' | translate}}</option>
                                                <option *ngFor="let department of departments" [ngValue]="department.id">
                                                    {{ department.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-6">
                                            <select class="custom-select form-control select2" id="inst_class_id" formControlName="inst_class_id" required
                                            (change)="getSubjectsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_SEMISTER' | translate}}</option>
                                                <option *ngFor="let semister of semisters" [ngValue]="semister.id">
                                                    SEMESTER {{semister.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="col-4 card-tools text-right">
                                        <button type="button" class="btn btn-primary" (click)="showAddFeatureView(true)" *ngIf="showAddFeature === false">
                                            <i class="fa fa-plus"></i> {{ 'ADD_SUBJECTS' | translate}}
                                        </button>
                                        <button type="button" class="btn btn-primary" (click)="downloadFile()" *ngIf="showAddFeature === true">
                                            <i class="fa fa-download"></i>&nbsp;{{ 'DOWNLOAD_EXCEL_TEMPLATE' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === false && subjectsDataStatus != 2">
                                <div class="col-lg-12" *ngIf="subjectsDataStatus === 1">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ 'NAME' | translate}}</th>
                                                <th>{{ 'SUBJECT_CODE' | translate}}</th>
                                            </tr>
                                            <tr *ngFor="let subject of subjects;let i = index">
                                                <td>
                                                    {{ i + 1 }}
                                                </td>
                                                <td>
                                                    {{ subject.name | verifyData }}
                                                </td>
                                                <td>
                                                    {{ subject.code | verifyData }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-lg-12" *ngIf="subjectsDataStatus === 0 || subjectsDataStatus === 3">
                                    <app-list-error-handler 
                                    [status]=subjectsDataStatus 
                                    [title]="'SUBJECTS'">
                                    </app-list-error-handler>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === true">
                                <div class="col-lg-12">
                                    <form role="form" (ngSubmit)="addSubjects()" [formGroup]="addSubjectsForm">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="customFile">{{ 'FILE' | translate}}</label>
                                                <div>
                                                    <input type="file" id="subjects_file" formControlName="subjects_file" (change)="onFileChange($event)">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary" [disabled]="disableAddFeatureForm()">
                                                <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate}}
                                            </button>
                                            <button class="btn btn-danger ml-2" (click)="showAddFeatureView(false)">
                                                <i class="fa fa-reply"></i> {{ 'BACK' | translate}}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>