<div class="wrapper">
    <app-navbar></app-navbar>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-wrapper" *ngIf="departmentAndSemisterDataStatus === 1">
        <app-breadcrumb [title]="'SUBJECT_FACULTY'"></app-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="col-12 row">
                                    <form class="col-9 row" role="form" [formGroup]="filterForm">
                                        <div class="col-4">
                                            <select class="custom-select form-control select2" id="department_id" formControlName="department_id" required
                                            (change)="getSubjectsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_DEPARTMENT' | translate}}</option>
                                                <option *ngFor="let department of departments" [ngValue]="department.id">
                                                    {{ department.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="custom-select form-control select2" id="inst_class_id" formControlName="inst_class_id" required
                                            (change)="getSubjectsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_SEMISTER' | translate}}</option>
                                                <option *ngFor="let semister of semisters" [ngValue]="semister.id">
                                                    {{ 'SEMISTER' | translate }} {{semister.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="custom-select form-control select2" id="subject_id" formControlName="subject_id" required
                                            (change)="getSubjectFaculties()">
                                                <option [value]=null selected disabled>{{ 'SELECT_SUBJECT' | translate}}</option>
                                                <option *ngFor="let subject of subjects" [ngValue]="subject.id">
                                                    {{subject.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="col-3 card-tools text-right">
                                        <button type="button" class="btn btn-primary" (click)="showAddFeatureView(true)" *ngIf="showAddFeature === false"
                                        [disabled]="!this.filterForm.valid">
                                            <i class="fa fa-plus"></i> {{ 'ADD_SUBJECT_FACULTY' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === false && subjectFacultiesDataStatus != 2">
                                <div class="col-lg-12" *ngIf="subjectFacultiesDataStatus === 1">
                                    
                                </div>
                                <div class="col-lg-12" *ngIf="subjectFacultiesDataStatus === 0 || subjectFacultiesDataStatus === 3">
                                    <app-list-error-handler 
                                    [status]=subjectFacultiesDataStatus 
                                    [title]="'SUBJECT_FACULTY'">
                                    </app-list-error-handler>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === true">
                                <form role="form" (ngSubmit)="addSubjectFaculties()" [formGroup]="addDataForm">
                                    <div class="form-group m-b-0">
                                        <label for="name">{{ 'SELECT_FACULTY' | translate}} *</label>
                                        <select class="custom-select form-control select2" id="faculty_id" formControlName="faculty_id" required>
                                            <option [value]=null selected disabled>{{ 'SELECT_FACULTY' | translate}}</option>
                                            <option *ngFor="let faculty of faculties" [ngValue]="faculty.id">
                                                {{faculty.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <app-form-validator [data]="validateAddFormValue('faculty_id')" [validateNameMinLength]=true></app-form-validator>
                                    <button type="submit" class="btn btn-primary" [disabled]="disableAddFeatureForm()">
                                        <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate}}
                                    </button>
                                    <button class="btn btn-danger ml-2" (click)="showAddFeatureView(false)">
                                        <i class="fa fa-reply"></i> {{ 'BACK' | translate}}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>