<div class="text-center no-data-container" *ngIf="status == 0">
    <i class="fa fa-exclamation-triangle"></i>
    <div class="message">
        {{ 'NO_DATA_MESSAGE1_WITH_VALUE' | translate:{ value : title } }}<br/>
        {{ 'NO_DATA_MESSAGE2_WITH_VALUE' | translate:{ value : title } }}
    </div>
</div>
<div class="text-center no-data-container" *ngIf="status == 3">
    <i class="fa fa-exclamation-triangle"></i>
    <div class="message">
        {{  "SOMETHING_WENT_WRONG" | translate }}<br/>
        {{  "PLEASE_TRY_AGAIN" | translate }}
    </div>
</div>