<div class="wrapper">
    <app-navbar></app-navbar>
    <app-faculty-sidebar></app-faculty-sidebar>
    <div class="content-wrapper" *ngIf="filterDataStatus === 1">
        <app-breadcrumb [title]="'CHAPTERS'"></app-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-lg-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <form class="col-lg-12 row" role="form" [formGroup]="filterForm">
                                    <div class="col-lg-3 p-1">
                                        <select class="custom-select form-control" formControlName="department_id" 
                                        (change)="getSubjectsData()" required>
                                            <option [value]=null selected disabled>{{ 'SELECT_DEPARTMENT' | translate }}</option>
                                            <option *ngFor="let department of departments" [ngValue]="department.id">
                                                {{ department.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 p-1">
                                        <select class="custom-select form-control" formControlName="inst_class_id" 
                                        (change)="getSubjectsData()" required>
                                            <option [value]=null selected disabled>{{ 'SELECT_SEMESTER' | translate }}</option>
                                            <option *ngFor="let semester of semesters" [ngValue]="semester.id">
                                                {{ 'SEMESTER' | translate }} {{ semester.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 p-1">
                                        <select class="custom-select form-control" formControlName="subject_id" 
                                        (change)="getChapters()" required>
                                            <option [value]=null selected disabled>{{ 'SELECT_SUBJECT' | translate }}</option>
                                            <option *ngFor="let subject of subjects" [ngValue]="subject.id">
                                                {{ subject.name }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 p-1 text-right">
                                        <button type="button" class="btn btn-theme-primary" (click)="showAddFeatureView(true)" 
                                        *ngIf="showAddFeature === false" [disabled]="!this.filterForm.valid">
                                            <i class="fa fa-plus"></i> {{ 'ADD_CHAPTER' | translate }}
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body scroll-x-auto" *ngIf="showAddFeature === false && chaptersDataStatus != 2">
                                <div class="col-lg-12" *ngIf="chaptersDataStatus === 1">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <th>#</th>
                                                <th>{{ 'NAME' | translate }}</th>
                                                <th>{{ 'DESCRIPTION' | translate }}</th>
                                                <th>{{ 'TOPICS' | translate }}</th>
                                                <th>{{ 'NOTES' | translate }}</th>
                                                <th></th>
                                            </tr>
                                            <tr *ngFor="let chapter of chapters;let i = index">
                                                <td>{{ i + 1 }}</td>
                                                <td>
                                                    <img [src]="_constants.DOMAIN_URL + chapter.thumbnail" class="img-circle img-size-32 mr-2"
                                                    (error)="_miscellaneous.setDefaultThumbnailImage($event)">
                                                    {{ chapter.name | verifyData }}
                                                </td>
                                                <td>{{ chapter.description | verifyData }}</td>
                                                <td>
                                                    <button class="btn btn-theme-primary btn-sm mr-1 mb-1"
                                                    (click)="navigateToTopics(chapter)" *ngIf="chapter.chapter_details.data.length">
                                                        <i class="pr-1 fa fa-eye"></i> {{ 'VIEW_TOPICS' | translate }}
                                                    </button>
                                                    <button class="btn btn-theme-primary btn-sm mb-1"
                                                    (click)="addTopics(chapter)">
                                                        <i class="fa fa-plus"></i> 
                                                        <span *ngIf="!chapter.chapter_details.data.length"> {{ 'ADD_TOPIC' | translate }} </span>
                                                    </button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-theme-primary btn-sm" (click)="_download.download(chapter.notes)"
                                                    *ngIf="chapter.notes">
                                                        <i class="fa fa-download pr-1"></i> {{ 'NOTES' | translate }}
                                                    </button>
                                                    <span *ngIf="!chapter.notes">{{ 'NA' | translate }}</span>
                                                </td>
                                                <td>
                                                    <button class="btn btn-theme-primary btn-sm"
                                                    (click)="editChapter(chapter)" data-toggle="modal" [attr.data-target]="'#update-chapter'">
                                                        <i class="pr-1 fa fa-pen"></i> 
                                                        {{ 'EDIT' | translate }}
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <app-faculty-list-error [errorId]=7 [errorCode]="chaptersDataStatus" *ngIf="chaptersDataStatus === 0 || chaptersDataStatus === 3">
                                </app-faculty-list-error>
                            </div>
                            <app-faculty-list-error [errorId]=5 [errorCode]="subjectsDataStatus" *ngIf="subjectsDataStatus === 0 || subjectsDataStatus === 3">
                            </app-faculty-list-error>
                            <div class="card-body" [hidden]="showAddFeature === false">
                                <ul class="nav nav-tabs" role="tablist" id="tab">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="chapter-tab" data-toggle="pill" href="#add-chapter" role="tab" aria-controls="add-chapter" aria-selected="true">
                                            {{ 'CHAPTER' | translate }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="topic-tab" data-toggle="pill" href="#add-topic" role="tab" aria-controls="add-topic" aria-selected="true">
                                            {{ 'TOPIC' | translate }}
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="col-lg-6 tab-pane fade show active" id="add-chapter" role="tabpanel">
                                        <form role="form" (ngSubmit)="addChapter()" [formGroup]="addChapterForm" id="addChapterForm">
                                            <div class="form-group mb-0">
                                                <label for="name">{{ 'CHAPTER_NAME' | translate }} *</label>
                                                <input type="text" class="form-control" formControlName="name" 
                                                placeholder="{{ 'ENTER_NAME' | translate }}" required>
                                            </div>
                                            <app-form-validator [data]="validateForm('name',1)" [validateNameMinLength]=true></app-form-validator>
                                            <div class="form-group mb-0">
                                                <label for="description">{{ 'DESCRIPTION' | translate }} *</label>
                                                <input type="text" class="form-control" formControlName="description" 
                                                placeholder="{{ 'ENTER_DESCRIPTION' | translate }}" required>
                                            </div>
                                            <app-form-validator [data]="validateForm('description',1)"></app-form-validator>
                                            <div class="form-group">
                                                <label for="notes">{{ 'NOTES' | translate }}</label><br/>
                                                <input type="file" (change)="onFileChange($event,'notes',1)" accept=".pdf" 
                                                required>
                                            </div>
                                            <div class="form-group">
                                                <label for="thumbnail">{{ 'THUMBNAIL' | translate }} *</label><br/>
                                                <input type="file" (change)="onFileChange($event,'thumbnail',1)" accept="image/*" 
                                                required>
                                            </div>
                                            <button type="submit" class="btn btn-theme-primary" [disabled]="disableAddFeatureForm()">
                                                <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate }}
                                            </button>
                                            <button class="btn btn-danger ml-2" type="button" (click)="showAddFeatureView(false)">
                                                <i class="fa fa-reply"></i> {{ 'BACK' | translate }}
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col-lg-6 tab-pane fade" id="add-topic" role="tabpanel">
                                        <form role="form" (ngSubmit)="addTopic()" [formGroup]="addTopicForm" id="addTopicForm">
                                            <div class="form-group mb-0">
                                                <label for="name">{{ 'TOPIC_NAME' | translate }} *</label>
                                                <input type="text" class="form-control" formControlName="name" 
                                                placeholder="{{ 'ENTER_NAME' | translate }}" required>
                                            </div>
                                            <app-form-validator [data]="validateForm('name',2)" [validateNameMinLength]=true></app-form-validator>
                                            <div class="form-group mb-0">
                                                <label for="name">{{ 'CHAPTER' | translate }} *</label>
                                                <select class="custom-select form-control" formControlName="chapter_id" 
                                                [hidden]="chaptersDataStatus != 1" required>
                                                    <option [value]=null selected disabled>{{ 'SELECT_CHAPTER' | translate }}</option>
                                                    <option *ngFor="let chapter of chapters" [ngValue]="chapter.id">
                                                        {{ chapter.name }}
                                                    </option>
                                                </select>
                                                <div class="error-message" *ngIf="chaptersDataStatus === 0">
                                                    {{ 'PLEASE_ADD_FEATURE_TO_CONTINUE' | translate: { value : ('CHAPTER' | translate) } }}
                                                </div>
                                                <div class="error-message" *ngIf="chaptersDataStatus === 3">
                                                    {{ 'STANDARD_ERROR' | translate }}
                                                </div>
                                            </div>
                                            <app-form-validator [data]="validateForm('chapter_id',2)"></app-form-validator>
                                            <div class="form-group mb-0">
                                                <label for="name">{{ 'KEYWORDS' | translate }}</label>
                                                <input type="text" class="form-control" formControlName="keywords" 
                                                placeholder="{{ 'ENTER_KEYWORDS' | translate }}">
                                            </div>
                                            <app-form-validator [data]="validateForm('keywords',2)"></app-form-validator>
                                            <div class="form-group mb-0">
                                                <label for="name">{{ 'RELATED_VIDEOS' | translate }}</label>
                                                <input type="text" class="form-control" formControlName="related_videos" 
                                                placeholder="{{ 'ENTER_RELATED_VIDEOS' | translate }}">
                                            </div>
                                            <app-form-validator [data]="validateForm('related_videos',2)"></app-form-validator>
                                            <div class="form-group mb-0">
                                                <label for="name">{{ 'VIDEO_ID' | translate }} *</label>
                                                <div>
                                                <input style="float:left;width: 80% !important;" type="text" class="form-control" formControlName="video_id" 
                                                placeholder="{{ 'VIDEO_ID' | translate }}" required>
                                                <button type="button" style="margin-left:1%;margin-top:1%;" class="btn btn-theme-primary btn-sm"
                                                    (click)="previewVedio()" data-toggle="modal" [attr.data-target]="'#preview-vedio'">
                                                        {{ 'Preview' | translate }}
                                                    </button>
                                                </div>
                                            </div>
                                            <app-form-validator [data]="validateForm('video_id',2)"></app-form-validator>
                                            <button type="submit" class="btn btn-theme-primary" [disabled]="disableAddTopicFeatureForm()">
                                                <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate }}
                                            </button>
                                            <button class="btn btn-danger ml-2" type="button" (click)="showAddFeatureView(false)">
                                                <i class="fa fa-reply"></i> {{ 'BACK' | translate }}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="content-wrapper" *ngIf="filterDataStatus === 0 || filterDataStatus === 3">
        <app-faculty-list-error [errorId]=1 [errorCode]="filterDataStatus">
        </app-faculty-list-error>
    </div>
    <app-footer></app-footer>
</div>
<div class="modal fade" id="update-chapter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'UPDATE_CHAPTER' | translate }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" (ngSubmit)="updateChapter()" [formGroup]="editChapterForm" id="editChapterForm">
                    <div class="form-group mb-0">
                        <label for="name">{{ 'CHAPTER_NAME' | translate }} *</label>
                        <input type="text" class="form-control" formControlName="name" 
                        placeholder="{{ 'ENTER_NAME' | translate }}" required>
                    </div>
                    <app-form-validator [data]="validateForm('name',3)" [validateNameMinLength]=true></app-form-validator>
                    <div class="form-group mb-0">
                        <label for="description">{{ 'DESCRIPTION' | translate }} *</label>
                        <input type="text" class="form-control" formControlName="description" 
                        placeholder="{{ 'ENTER_DESCRIPTION' | translate }}" required>
                    </div>
                    <app-form-validator [data]="validateForm('description',3)"></app-form-validator>
                    <div class="form-group">
                        <label for="notes">{{ 'NOTES' | translate }}</label><br/>
                        <input type="file" (change)="onFileChange($event,'notes',3)" accept=".pdf">
                    </div>
                    <div class="form-group">
                        <label for="thumbnail">{{ 'THUMBNAIL' | translate }}</label><br/>
                        <input type="file" (change)="onFileChange($event,'thumbnail',3)" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-theme-primary" [disabled]="!editChapterForm.valid">
                        <i class="fa fa-plus-circle"></i> {{ 'UPDATE' | translate }}
                    </button>
                    <button class="btn btn-danger ml-2" type="button" data-dismiss="modal">
                        <i class="fa fa-reply"></i> {{ 'BACK' | translate }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="preview-vedio">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ 'Preview' | translate }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 pr-0">
                    <div id="vimeo-player"></div> 
                </div>
                <div *ngIf="showPreviewError" style="color: red;font-size: 14px;text-align: center;">No Vedio Found</div>
            </div>
        </div>
    </div>
</div>

