<div class="wrapper">
    <app-student-navbar></app-student-navbar>
    <app-student-sidebar></app-student-sidebar>
    <div class="content-wrapper">
      	<section class="content">
            <div class="container-fluid">
                <div class="w-100 pt-4">
                    <div class="card card-primary card-outline">
                        <div class="col-12 row card-body">
                            <div class="col-8 pr-0">
                                <video src="{{videoUrl}}" width="100%" height="400px" controls class="video-player" autoplay>
                                </video>
                            </div>
                            <div class="col-4 pl-0">
                                <div class="topics-list bg-light">
                                    <table class="table table-bordered table-head-fixed text-nowrap">
                                        <tbody>
                                            <tr><td><b>{{ 'COURSE_CONTENT' | translate }}</b></td></tr>
                                            <tr class="bg-white" *ngFor="let topic of topics" (click)="selectTopic(topic)"
                                            [ngClass]="{'active-topic': topic.id === selectedTopic.id}">
                                                <td><span class="topic-heading">{{topic.name}}</span><i class="fas fa-play-circle pr-1 text-muted float-right"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="pt-2">
                                    <div class="topic-title mb-2"><b>{{ selectedTopic.name }}</b>
                                        <div class="cursor-pointer d-inline-block">
                                            <i class="far fa-heart pl-2 text-blue" (click)="addTopicToWishlist()" *ngIf="!selectedTopic.isWishlisted"></i>
                                            <i class="fa fa-heart pl-2 text-blue" *ngIf="selectedTopic.isWishlisted"></i>
                                        </div>
                                    </div>
                                    {{ 'RELATED_VIDEOS' | translate }} : {{ selectedTopic.related_videos[0] | verifyData }} <br/>
                                    <hr/> 
                                </div>
                                <div class="card card-primary card-outline card-outline-tabs">
                                    <div class="card-header p-0 border-bottom-0">
                                        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" data-toggle="pill" href="#tab-details" role="tab" aria-controls="tab-details" aria-selected="true">
                                                    Chapter Details
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#comments" role="tab" aria-controls="comments" aria-selected="false">
                                                    {{ 'QUESTIONS' | translate}}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="pill" href="#faqs" role="tab" aria-controls="faqs" aria-selected="false">
                                                    {{ 'FAQS' | translate}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab-details" role="tabpanel" aria-labelledby="tab-details">
                                                <b>{{ 'CHAPTER_NAME' | translate }}</b> : {{ chapterDetails.name }} <br/>
                                                <b>{{ 'CHAPTER_DESCRIPTION' | translate }}</b> : {{ chapterDetails.description }} <br/>
                                                <b>{{ 'FACULTY' | translate }}</b> : {{ chapterDetails.faculty }}<br/>
                                                <button class="btn btn-primary mt-2" (click)="downloadFile()">
                                                    <i class="pr-1 fa fa-download"></i> {{ 'DOWNLOAD_NOTES' | translate}}
                                                </button>
                                            </div>
                                            <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments">
                                                <app-student-questions [topicId]="selectedTopic.id"></app-student-questions>
                                            </div>
                                            <div class="tab-pane fade" id="faqs" role="tabpanel" aria-labelledby="faqs">
                                                N/A
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>