<div class="wrapper">
    <app-student-navbar></app-student-navbar>
    <app-student-sidebar></app-student-sidebar>
    <div class="content-wrapper">
        <section class="content col-12 row p-4" *ngIf="wishlistDataStatus === 1">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-1" *ngFor="let wishlist of wishlists">
                <div class="card card-widget mb-3 custom-card" (click)="navigateToTopics(wishlist.chapter_details.data[0])">
                    <div class="card-body p-2">
                        <div class="img-container">
                            <img class="img-fluid br-4" [src]='_constants.DOMAIN_URL + wishlist.chapter_details.data[0].thumbnail' 
                            (error)="_miscellaneous.setDefaultThumbnailImage($event)">
                        </div>
                        <div class="card-header-title">
                            {{ wishlist.chapter_details.data[0].name }}
                        </div>
                        <div class="cursor-pointer mt-2">
                            <button class="btn btn-theme-primary btn-sm" (click)="updateTopicWishlist(wishlist, $event)">
                                <i class="fa fa-check"></i>
                                {{ 'WISHLISTED' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-student-list-error [errorId]=3 [errorCode]="wishlistDataStatus" *ngIf="wishlistDataStatus === 0 || wishlistDataStatus === 3">
        </app-student-list-error>
    </div>
    <app-footer></app-footer>
</div>