<div class="wrapper">
    <app-student-navbar></app-student-navbar>
    <app-student-sidebar></app-student-sidebar>
    <div class="content-wrapper">
      	<app-breadcrumb [title]="'WISHLIST'"></app-breadcrumb>
        <section class="content col-12 row p-4">
            <div class="col-lg-3 col-12 mt-1" *ngFor="let wishlist of wishlists">
                <div class="card card-widget mb-3 card-md cursor-pointer" (click)="navigateToTopics(wishlist.chapter_details.data[0])">
                    <div class="card-body p-2">
                        <div class="img-container">
                            <img class="img-fluid pad br-4" alt="Photo" [src]='this.constants.DOMAIN_URL + wishlist.thumbnail' 
                            (error)="changeImageSource($event)">
                        </div>
                        <div class="card-header-portion">
                            {{wishlist.chapter_details.data[0].name}}
                        </div>
                        <div>
                            {{'RELATED_VIDEOS' | translate}} : {{wishlist.chapter_details.data[0].related_videos[0] | verifyData}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <app-footer></app-footer>
</div>