<div class="wrapper">
    <app-navbar></app-navbar>
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-wrapper" *ngIf="filterDataStatus === 1">
        <app-breadcrumb [title]="'EXAMINATION'"></app-breadcrumb>
        <section class="content">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-12">
                        <div class="card card-primary card-outline">
                            <div class="card-header">
                                <div class="col-12 row">
                                    <form class="col-9 row" role="form" [formGroup]="filterForm">
                                        <div class="col-4">
                                            <select class="custom-select form-control select2" id="department_id" formControlName="department_id" required
                                            (change)="getSubjectsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_DEPARTMENT' | translate}}</option>
                                                <option *ngFor="let department of departments" [ngValue]="department.id">
                                                    {{ department.name }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="custom-select form-control select2" id="inst_class_id" formControlName="inst_class_id" required
                                            (change)="getSubjectsData()">
                                                <option [value]=null selected disabled>{{ 'SELECT_SEMESTER' | translate}}</option>
                                                <option *ngFor="let semester of semesters" [ngValue]="semester.id">
                                                    {{ 'SEMESTER' | translate }} {{semester.name}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select class="custom-select form-control select2" id="subject_id" formControlName="subject_id" required
                                            (change)="getExamsList()">
                                                <option [value]=null selected disabled>{{ 'SELECT_SUBJECT' | translate}}</option>
                                                <option *ngFor="let subject of subjects" [ngValue]="subject.id">
                                                    {{subject.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </form>
                                    <div class="col-3 card-tools text-right">
                                        <button type="button" class="btn btn-theme-primary" (click)="showAddFeatureView(true)" *ngIf="showAddFeature === false"
                                        [disabled]="!this.filterForm.valid">
                                            <i class="fa fa-plus"></i> {{ 'ADD_EXAMINATION' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="showAddFeature === false && examDataStatus != 2">
                                <div class="col-lg-12" *ngIf="examDataStatus === 1">
                                    <div class="row">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>#</th>
                                                    <th>{{ 'NAME' | translate}}</th>
                                                    <th>{{ 'YEAR' | translate}}</th>
                                                    <th></th>
                                                </tr>
                                                <ng-container *ngFor="let exam of examsList">
                                                    <ng-container *ngFor="let year of exam | prepareObject" >
                                                        <tr *ngFor="let paper of year.value;let i = index">
                                                            <td>
                                                                {{ i + 1 }}
                                                            </td>
                                                            <td>
                                                                {{ paper.name | verifyData }}
                                                            </td>
                                                            <td>
                                                                {{ paper.year }}
                                                            </td>
                                                            <td>
                                                                <button class="btn btn-theme-primary btn-sm"
                                                                (click)="download.download(paper.paper, $event)" *ngIf="paper.paper">
                                                                    <i class="pr-1 fa fa-download"></i> {{ 'DOWNLOAD' | translate }}
                                                                </button>
                                                                <button type="button" class="ml-1 btn btn-danger btn-sm" (click)="deletePaper(paper)">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </ng-container>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <app-admin-list-error [errorId]=8 [errorCode]="examDataStatus" *ngIf="examDataStatus === 0 || examDataStatus === 3">
                                </app-admin-list-error>
                            </div>
                            <app-admin-list-error [errorId]=5 [errorCode]="subjectsDataStatus" *ngIf="subjectsDataStatus === 0 || subjectsDataStatus === 3" 
                            [hidden]="showAddFeature === true">
                            </app-admin-list-error>
                            <div class="card-body" *ngIf="showAddFeature === true">
                                <form role="form" (ngSubmit)="addExam()" [formGroup]="addDataForm">
                                    <div class="form-group mb-0">
                                        <label for="name">{{ 'EXAM_NAME' | translate}} *</label>
                                        <input type="text" class="form-control" id="name" formControlName="name" placeholder="{{ 'ENTER_NAME' | translate}}" required>
                                    </div>
                                    <app-form-validator [data]="validateAddFormValue('name')" [validateNameMinLength]=true></app-form-validator>
                                    <div class="form-group mb-0">
                                        <label for="name">{{ 'SELECT_YEAR' | translate}} *</label>
                                        <select class="custom-select form-control select2" id="year" formControlName="year" required>
                                            <option [value]=null selected disabled>{{ 'SELECT_YEAR' | translate}}</option>
                                            <option *ngFor="let year of years" [ngValue]="year">
                                                {{year}}
                                            </option>
                                        </select>
                                    </div>
                                    <app-form-validator [data]="validateAddFormValue('year')"></app-form-validator>
                                    <div class="form-group">
                                        <label for="customFile">{{ 'FILE' | translate}}</label>
                                        <div>
                                            <input type="file" (change)="onFileChange($event,'paper')" accept=".pdf">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-theme-primary" [disabled]="disableAddFeatureForm()">
                                        <i class="fa fa-plus-circle"></i> {{ 'SUBMIT' | translate}}
                                    </button>
                                    <button class="btn btn-danger ml-2" (click)="showAddFeatureView(false)">
                                        <i class="fa fa-reply"></i> {{ 'BACK' | translate}}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="content-wrapper" *ngIf="filterDataStatus === 0 || filterDataStatus === 3">
        <app-admin-list-error [errorId]=1 [errorCode]="filterDataStatus">
        </app-admin-list-error>
    </div>
    <app-footer></app-footer>
</div>