
<section class="content col-12 row p-4" *ngIf="chaptersDataStatus === 1">
    <div class="col-lg-4 col-12 mt-1" *ngFor="let chapter of chapters">
        <div class="card card-widget mb-3 card-md cursor-pointer">
            <div class="card-body p-2">
                <img class="img-fluid pad br-4" src="assets/images/default_thumb.jpg" alt="Photo" (click)="navigateToTopics(chapter)">
                <div class="card-header-portion">
                    {{subjectDetails.code | verifyData}}
                </div>
                <div class="card-header-title" (click)="navigateToTopics(chapter)">
                    {{chapter.name | verifyData}}
                </div>
            </div>
        </div>
    </div>
</section>