<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a class="brand-link">
        <img src="assets/images/logo.jpg" alt="App Logo" class="brand-image"
           style="opacity: .8">
        <span class="brand-text">Rewind</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" *ngFor="let sidemenu of sidemenus">
                    <a routerLink="{{sidemenu.link}}" routerLinkActive="active" class="nav-link">
                        <i class="nav-icon" [ngClass]="sidemenu.icon"></i>&nbsp;
                        <p>{{sidemenu.name | translate}}</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>