$color-primary : #7d4acb;
$color-secondary : #5b15c4;
.basic-form-page {
    height: 100vh;
    .basic-form-container {
        margin: 0 auto;
        background: transparent;
        width: 900px;
        padding: 25px 50px;
        min-height: 600px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .basic-form-box {
        width:45%;
        padding: 20px;
        display: inline-block;
        background: white;
        box-shadow: 9px 20px 16.83px 1.17px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        min-height: 375px;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        position: absolute;
        .app-logo {
            height: 150px;
        }
    }
    .basic-form-box-message {
        font-size: 20px;
    }
}
.basic-form-page:before {
    content: "";
    background: url(assets/images/login.svg) no-repeat center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    opacity: 0.04;
}
.form-error-container {
    min-height: 10px;
    .form-input-error {
        color: red;
        font-size: 15px;
        margin: 0px;
    }
}
.custom-spinner {
    .la-sm {
        display: none !important;
    }
    .loading-text {
        margin-top: -5%;
    }
    img {
        height: 150px;
        border-radius: 20px;
    }
}
.no-data-container {
    padding: 50px;
    color: lightgrey;
    i.fa {
        font-size: 100px;
    }
    .message {
        padding-top: 10px;
        font-size: 25px;
        line-height: 32px;
    }
}
.btn-sm-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.table td.td-small {
    padding-left: 0px;
    padding-right: 0px;
    width: 40px;
}
.error-message {
    color: red;
}
.custom-pagination {
    background-color: white;
    text-align: right;
    padding-bottom: 0px;
}
.checkbox-container {
    display: inline-block;
    width: 25%;
    .custom-control-label::before {
        width: 1.15rem;
        height: 1.15rem;
    }
    .custom-control-label::after {
        width: 1.25rem;
        height: 1.25rem;
        top: 0.20rem;
        left: -1.55rem;
    }
    label:not(.form-check-label):not(.custom-file-label) {
        font-weight: 400;
    }
}
.card { 
    margin-bottom: 100px;
}
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}
a.table-link,
a.table-link:hover,
a.table-link:active { 
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.product-list-card {
    .product {
        border-bottom: 1px solid lightgrey;
    }
}
.img-size-32 {
    height: 32px;
}
.f-18px {
    font-size: 18px;
}
.custom-title {
    line-height: 40px;
    font-size: 20px;
}
.filter-boxes {
    min-height: 55px;
    cursor: pointer;
}
.filter-boxes:hover {
    background-color: $color-primary;
    color: #ffffff;
}
.topics-list {
    height: 400px;
    overflow-y: auto;
    .topic-heading {
        font-size: 15px;
    }
    .fas {
        font-size: 25px;
    }
    .active-topic {
        font-weight: bold;
        .fas {
            color: $color-primary !important;
        }
    }
    .callout {
        cursor: pointer;
    }
}
.info-box-content {
    width: 100%;
}
.topic-title {
    font-size: 18px;
}
.video-player {
    background-color: #000;
}
.questions-list {
    max-height: 300px;
    overflow-y: auto;
}
.card-header-portion {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #686f7a;
    text-align: left;
    display: block;
    padding-top: 10px;
    min-height: 40px;
    line-height: 40px;
}
.card-header-title {
    padding: 10px 0px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: left;
    line-height: 24px;
}
.heading-cd-imgtmb {
    padding: 10px 10px;
    border-radius: 20px;
}
.br-12 {
    border-radius: 12px;
}
.br-4 {
    border-radius: 4px;
}
.br-20 {
    border-radius: 20px;
}
.bg-light-black {
    background-color: #333;
    color: #ffffff;
}
.cursor-pointer {
    cursor: pointer;
}
.card-md {
    min-height: 275px;
}
.selector-medium {
    min-width: 200px;
}
.content-type-heading {
    font-size: 20px;
    font-weight: 600;
    color: #555555;
    line-height: 38px;
}
@media only screen and (max-width: 812px) {
    .basic-form-page {
        .basic-form-container {
            background: white;
            width: 100%;
            border-radius: 20px;
            padding: 10px 0px;
            min-height: 500px;
        }
        .basic-form-info {
            width: 100%;
            display: block;
            .logo-container {
                .logo-image {
                    width: 150px;
                }
            }
        }
        .basic-form-box {
            width:100%;
            padding: 20px;
            display: block;
            background: transparent;
            box-shadow: none;
            border-radius: 0px;
        }
    }
}
.sidebar-light-primary.sidebar-custom {
    .os-content,.sidebar {
        padding: 0px !important;
    }
    .nav-sidebar>.nav-item>.nav-link {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .nav-sidebar>.nav-item>.nav-link.active {
        background-color: #e5e5e5;
        box-shadow: none;
        border-radius: 0px;
        color: #4a77b7;
        .nav-icon {
            background: -webkit-linear-gradient(#4a77b7, #c74ea7);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.sidebar-collapse {
    .sidebar-light-primary.sidebar-custom {
        .nav-item>.nav-link {
            text-align: center;
        }
        .user-panel .image {
            padding-left: 1.2rem;
        }
    }
    .sidebar-light-primary.sidebar-custom:hover {
        .nav-item>.nav-link {
            text-align: left;
        }
    }
}
.custom-search-navbar {
    width: 300px;
    .border-secondary {
        border: 1px solid #ced4da !important;
        color: #ced4da !important;
    }
}
.img-container {
    height: 140px;
    position: relative;
    img {
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        height: auto;
        max-height: 100%;
    }
}
.ctmimg-wdt {
    height: 185px;
}
.f-25px {
    font-size: 25px;
}
.color-theme-gradient {
    background: -webkit-linear-gradient(#4a77b7, #c74ea7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-theme-primary {
    background-color: $color-primary;
    color: #fff;
    border-color: $color-primary;
    box-shadow: none;
}
.btn-theme-primary:hover {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: #fff;
}
.theme-color {
    color: $color-primary;
}
.sbt-wdt {
    height: 205px;
    position: relative;
}